<section
  id="about-us"
  class="flex justify-between items-center max-lg:flex-col gap-10 w-full max-container capitalize"
>
  <div class="flex flex-1 flex-col">
    <h2 class="font-palanquin text-4xl font-bold lg:max-w-lg">
      <span class="xl:bg-white xl:whitespace-nowrap relative z-10">
        We provide you
      </span>
      <span class="text-coral-red inline-block mt-3">Super</span><br />
      <span class="text-coral-red inline-block mt-3">Quality</span> Shoes
    </h2>
    <p class="mt-4 lg:max-w-lg info-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid laborum
      quos nostrum ipsum et expedita magnam doloribus sint aperiam. Sapiente,
      itaque labore quam provident architecto distinctio necessitatibus
      laboriosam sint? Quibusdam.
    </p>
    <p class="mt-6 lg:max-w-lg info-text">
      Our dedication to detail and excellence ensures your satisfaction
    </p>
    <div class="mt-11">
      <button btn>View Details</button>
    </div>
  </div>
  <div class="flex-1 flex justify-center items-center">
    <img
      src="assets/images/shoe8.svg"
      alt="Shoe"
      width="570"
      height="522"
      class="object-contain"
    />
  </div>
</section>
